# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/

# Testing
coverage/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage/
.nyc_output/

# Build
dist/
build/
*.tsbuildinfo

# Misc
*.tsbuildinfo
*.tsbuildinfo

data/

forMe.txt

work_data/test_aligned_gri.tif
work_data/test_aligned_mask.tif
work_data/aligned_ice_mask_L-Band.tif
work_data/aligned_ice_mask_L.tif
work_data/raw_ice_mask_L-Band.tif
work_data/raw_ice_mask_L.tif
work_data/raw_ice_mask_S.tif
work_data/aligned_ice_mask_S.tif
work_data/aligned_hazard_mask.tif
work_data/raw_hazard_mask.tif


.venv/
